@model IEnumerable<Best.Data.Models.Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campaign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campaign.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestUser.UserName)
            </td>
            <td>
                <a class="btn btn-warning" asp-controller="Posts" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary" asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-controller="Posts" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
