@inject SignInManager<BestUser> SignInManager
@inject UserManager<BestUser> UserManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();

    BestUser user = await UserManager.GetUserAsync(User);
    var isAdmin = await UserManager.IsInRoleAsync(user, "Administrator");
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.CampaignsNavClass(ViewContext)" id="Campaigns" asp-page="./Campaigns">My Campaigns</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PostsNavClass(ViewContext)" id="posts" asp-page="./Posts">My posts</a></li>
    @if (isAdmin)@*nice code*@
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.PostsNavClass(ViewContext)" id="posts" asp-page="./Posts">Users</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
