@page
@using Best.Data.Models
@using Best.Data.Interfaces
@inject UserManager<BestUser> UserManager
@inject IPosts Posts
@{
    ViewData["Title"] = "My posts";
    ViewData["ActivePage"] = ManageNavPages.Posts;
    List<Post> posts = Posts.GetPostsByUserId(UserManager.GetUserId(User)).ToList();
}
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" asp-controller="Posts" asp-action="Create">Create</a>
        <table class="table">
            <thead class="thead-light text-center">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">text</th>
                    <th scope="col">Campaign</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="text-right">
                @foreach (var post in posts)
                {
                    <tr>
                        <td>@Html.DisplayFor(p => post.Name)</td>
                        <td>
                            @post.mintext
                        </td>
                        <td>
                            <a asp-controller="Campaigns" asp-action="Details" asp-route-id="@post.CampaignId">@post.Campaign.Name</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                            <a class="btn btn-primary" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">Details</a>
                            <a class="btn btn-danger" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
